
{%block content %}

    <form action="/cursoPHP/job/add/" method="POST">
        <div class="row">
            <div class="col-xs-7  col-xs-offset-1">
                <h4> Ingreso de Jobs </h4>
                <div class="form-group">
                    <label for="title-jobs">title</label>
                    <input type="text" id="title-jobs" name="title-jobs" class="form-control" placeholder="Ingrese titulo" />
                </div>
                <div class="form-group">
                    <label for="description-jobs">description</label>
                    <input type="text" id="description-jobs" name="description-jobs" class="form-control" placeholder="Ingrese description" />
                </div>
                <div class="form-group">
                    <label for="visible-jobs">visible</label>
                    <input type="text" id="visible-jobs" name="visible-jobs" class="form-control" placeholder="Ingrese visible" />
                </div>
                <div class="form-group">
                    <label for="months-jobs">months</label>
                    <input type="text" id="months-jobs" name="months-jobs" class="form-control" placeholder="Ingrese months" />
                </div>
                <input type="submit" value="Guardar">
            </div>
        </div>
    </form>
{% endblock %}
