{%extends "layout.twig"%}

{%block content %}
    <h3>Menu Principal</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action"><a href="/cursoPHP/job/add/">Add Job </a> </li>
        <li class="list-group-item list-group-item-action"><a href="/cursoPHP/user/add/">Add User</a>  </li>
        <li class="list-group-item list-group-item-action"><a href="/cursoPHP/logout/">LogOut</a>  </li>

    </ul>
    
{% endblock %}